// See https://bootstrap-vue.org/docs/reference/theming

/*
* Bootstrap variable overrides
*/
$body-bg: #D5A902;
$border-color: #000000;
$border-radius: 30px;
$enable-rounded: true;

/*
* Imports
*/
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

/*
* General style overrides and custom classes
*/
html,
body {
  //font-family: 'Coming Soon', cursive, sans-serif;
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: #000000;
  max-height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.container-border {
  border-width: 8px !important;
  border-color: #000000;
  margin: 10px;
  border-radius: 30px;
}

.title-format {
  transform: rotate(-8deg);
  font-size: 325%;
}

.title-margin-adjust {
  margin-left: 3rem !important;
}

span {
  font-size: 125%;
}

.bubble-img {
  height: 400px;
  width: 80%;
}

.bubble-content {
  font-size: 135%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.parent-row {
  position: relative;
}

.child-form {
  position: absolute;
  right: 10%;
}

.child-array {
  position: absolute;
  top: 80px;
  font-family: 'Coming Soon', cursive, sans-serif;
  height: 300px;
  width: 95%;
}

.child-spinner {
  position: absolute;
  top: 120px;
  left: 40%;
  width: 3rem;
  height: 3rem;
}
