<script>
'use strict';

import {reduce, concat, flattenDeep, join} from 'lodash';

export const NEEDS_WORD = 'NEEDS_WORD';
export const DOES_NOT_NEED_FLANDERIZATION = 'DOES_NOT_NEED_FLANDERIZATION';
export const GETTING_SENTIMENT = 'GETTING_SENTIMENT';
export const GETTING_ANTONYM = 'GETTING_ANTONYM';
export const FLANDERIZED = 'FLANDERIZED';

export default {
  data() {
    return {
      word: '',
      antonyms: [],
      flanderizationStatus: NEEDS_WORD,
    };
  },
  computed: {
    needsWord: function () {
      return this.flanderizationStatus === NEEDS_WORD;
    },
    doesNotNeedFlanderization: function () {
      return this.flanderizationStatus === DOES_NOT_NEED_FLANDERIZATION;
    },
    gettingSentiment: function () {
      return this.flanderizationStatus === GETTING_SENTIMENT;
    },
    gettingAntonym: function () {
      return this.flanderizationStatus === GETTING_ANTONYM;
    },
    flanderized: function () {
      return this.flanderizationStatus === FLANDERIZED;
    },
  },
  watch: {
    word() {
      this.onNewWord();
    },
    flanderizationStatus(newFlanderizationStatus) {
      if (newFlanderizationStatus === GETTING_ANTONYM) {
        this.flanderize();
      }
    },
  },
  methods: {
    onNewWord: function () {
      this.flanderizationStatus = GETTING_SENTIMENT;
      const googleKey = 'AIzaSyBC0eiHvoQOqrAubRnlXvrpfEV1XcgNSkU';
      const postData = {
        document: {'type': 'PLAIN_TEXT', 'content': this.word},
      };
      if (this.word) {
        this.$axios.post(
          `https://language.googleapis.com/v1beta2/documents:analyzeSentiment?key=${googleKey}`,
          postData,
        )
          .then((googleResponse) => {
            const sentimentScore = googleResponse.data.documentSentiment.score;
            this.onReceivedSentiment(sentimentScore);
          })
          .catch((error) => console.log(error));
      }
    },
    onReceivedSentiment: function (score) {
      if (score < 0) {
        this.flanderizationStatus = GETTING_ANTONYM;
      } else {
        this.flanderizationStatus = DOES_NOT_NEED_FLANDERIZATION;
      }
    },
    flanderize: function () {
      const thesaurusKey = '7de59b76-c29c-41cf-93c1-6ebdad9685e0';
      this.$axios.post(
        `https://dictionaryapi.com/api/v3/references/thesaurus/json/${this.word}?key=${thesaurusKey}`,
      )
        .then((thesaurusResponse) => {
          this.antonyms = this.extractAntonyms(thesaurusResponse);
          this.flanderizationStatus = FLANDERIZED;
        });
    },
    extractAntonyms: function (thesaurusResponse) {
      const antonymsArr = reduce(
        thesaurusResponse.data,
        (acc, entry) => {
          return concat(acc, entry.meta.ants);
        },
        [],
      );
      const flattenedArr = flattenDeep(antonymsArr);
      return join(flattenedArr, ', ');
    },
  },
};
</script>

<template>
  <b-container
    fluid="100%"
    class="layout border container-border">
    <b-row>
      <b-col class="col-5">
        <b-row class="title-format">
          <p class="text-left title-margin-adjust">
            &nbsp;THE<br>
            <span>F</span>LANDERIZER
          </p>
        </b-row>
        <b-row>
          <b-img
            v-if="flanderized"
            src="../assets/images/nedMad.png"
            class="img-fluid"
          ></b-img>
          <b-img
            v-else-if="doesNotNeedFlanderization"
            src="../assets/images/nedPink.png"
            class="img-fluid"
          ></b-img>
          <b-img
            v-else-if="gettingSentiment || gettingAntonym"
            src="../assets/images/nedNeutral.png"
            class="img-fluid"
          ></b-img>
          <b-img
            v-else
            src="../assets/images/nedHappy.png"
            class="img-fluid"
          ></b-img>
        </b-row>
      </b-col>
      <b-col class="col-7">
        <b-row class="parent-row">
          <b-img src="~assets/images/bubble.png" class="img-fluid text-center bubble-img"></b-img>
          <div class="bubble-content">
            <div
              v-if="needsWord"
              class="text-center"
            >
              Hi diddly ho, neighborino!<br>Give me a word --- and lets keep it
              <span>Positive</span>!
            </div>
            <div
              v-else-if="flanderized"
              class="text-center"
            >
              Thank you but I don't approve.
              <span class="text-uppercase">{{ word }}</span> is such a ding dong diddly negative
              word!
              Pick a better word from the list.
            </div>
            <div
              v-else-if="doesNotNeedFlanderization"
              class="text-center"
            >
              <span class="text-uppercase">{{ word }}</span> is a fine word, my friend! Get out the
              Crayolas and color
              me "Tickled Pink."
            </div>
            <div
              v-else-if="gettingSentiment || gettingAntonym"
              class="text-center"
            ></div>
            <div
              v-else
              class="text-center"
            >
              You've found a bug, friend! Why is flanderizationStatus {{ flanderizationStatus }}?
              Let's pray, that always helps!
            </div>
          </div>
        </b-row>
        <b-row class="parent-row">
          <Form v-model="word" class="mt-3 child-form" />
          <div>
            <b-spinner
              v-if="gettingSentiment || gettingAntonym"
              variant="success"
              class="child-spinner"
            ></b-spinner>
            <div v-if="flanderized" class="child-array overflow-hidden">
              <span>List of better words:</span><br>
              {{ antonyms }}
            </div>
          </div>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<style>
</style>
