<script>
'use strict'

export default {
  props: {
    value: String,
  },
  data() {
    return {
      formInputWord: '',
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      this.$emit('input', this.formInputWord)
      this.formInputWord = ''
    },
  },
}
</script>
<template>
  <div>
    <b-form inline @submit="onSubmit">
      <b-form-group>
        <b-form-input
          v-model="formInputWord"
          type="text"
          placeholder="Enter your word"
          required
          class="shadow-none border-dark">
        </b-form-input>
        <b-button
          pill
          class="btn-success button-format border-dark shadow-none"
          type="submit"
          variant="primary">
          Submit
        </b-button>
      </b-form-group>
    </b-form>
  </div>
</template>

<style>
</style>
